/* -- Background Colors -- */

.light-blue {
    background-color: #c5d6dc;
}

.darker-blue {
    background-color: #4a5370;
}

.gliter {
    background-color: #e5ecee;
}

.gray {
    background-color: #74848b;
}

.white {
    background-color: #fff;
}


/* -- Header & Footer Navs -- */

#email {
    margin-top: 9px;
    margin-right: 15px;
    margin-left: 40px;
}

#email-icon {
    font-size: 24px;
    color: #fff;
}

#brand-img {
    padding: 0 10px 0 0;
}

#brand-text {
    font-family: 'Calligraffitti', cursive;
    font-size: 34px;
    color: #fff;
    text-shadow: 2px 2px 5px black;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text,
.dropdown-menu>li>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #e8e8e8;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-decoration: underline;
    color: #e8e8e8;
}

#footer {
    margin-bottom: 0;
    text-align: center;
}

#footer-text {
    display: inline-block;
    float: none;
    color: #fff;
}

.footer-link:active,
.footer-link:focus,
.footer-link:visited {
    color: #fff;
}


/* -- Main Content -- */

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.format-main {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 30px;
}

#Company-Name {
    font-size: 55px;
    font-family: 'Calligraffitti', cursive;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.store-intro {
    padding: 20px 35px 15px 35px;
}


/* Spinner */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    animation: spin 1s infinite linear;
    border-radius: 50%;
    border: .25rem solid rgba(255, 255, 255, .5);
    border-top-color: #31708f;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}


/* Center images in carousels */

.carousel-inner img {
    margin: auto;
}

#card-info {
    margin-top: 25px;
    border: 1px solid #c5d6dc;
    border-radius: 5px;
}

.card-name {
    color: #4a5370;
    text-decoration: none;
}

.card-price {
    font-size: 18px;
}

.card-name:hover,
.card-name:focus,
.card-name:active {
    color: #666;
    text-decoration: underline;
}

.thumb {
    /* 50% 50% centers image in div */
    width: 450px;
    height: 450px;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
}


/*.thumb a {
    display: block;
    width: 375px;
    height: 375px;
}*/


/*.thumb a:hover {

}*/

.image-div {
    width: 100%;
    height: 100%;
    background-color: black;
    /* fallback color */
    background-position: center;
    background-size: cover;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.image-div:hover,
.image-div:focus {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
    /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
    /* IE6 and 7 */
}


/* -- Media Queries -- */

@media (min-width: 1921px) {
    .format-main {
        max-width: 1800px;
    }
}

@media (max-width: 1130px) {
    .thumb {
        width: 300px;
        height: 300px;
    }
    .thumb a {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 990px) {
    .thumb {
        width: 450px;
        height: 450px;
    }
    .thumb a {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 769px) {
    #nav-items {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    #myNavbar {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #email {
        margin-top: 9px;
        margin-right: 15px;
        margin-left: 15px;
    }
}
